<button mat-raised-button 	(click) = "logout()">
    Logout 
</button>



<!DOCTYPE html>
<html lang = "ro">
	<head>
	 	<meta name = "description" content="Tudor Cosmin Oanea">
	  	<meta name = "keywords" content="dedeman">
		<title>Tudor Cosmin Oanea</title>
	 	
		<meta charset = "UTF-8">

		<meta name = "author" content="Tudor Cosmin Oanea">

		<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.0/css/all.css">
		<link rel = "icon" href="/Storage/Images/favicon/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="/Storage/CSS/main.css">
		<link rel="stylesheet" type="text/css" href="/Storage/CSS/grid.css">


		<link rel="stylesheet" type="text/css" href="/Storage/CSS/ecran-mare.css" media="screen and (min-width: 1200px)">

	</head>

	<body class="body">

		<style type="text/css">* {cursor: url(https://cur.cursors-4u.net/nature/nat-9/nat860.cur), auto !important;}</style><a href="https://www.cursors-4u.com/cursor/2010/11/06/cute-yellow-duck.html" target="_blank" title="Cute Yellow Duck"><img src="https://cur.cursors-4u.net/cursor.png" border="0" alt="Cute Yellow Duck" style="position:absolute; top: 0px; right: 0px;" /></a>

	<header id = "header">
				
	</header>

	<nav>
		<button id = "burger" tabindex = "0">
			<span class="fas fa-bars fa-2x"></span>
		</button>

		<ul class = "meniu">
			<li>
				<div class = "element-meniu">
					<a href="/index"><span class="fa fa-home" aria-hidden="true">Acasă</span></a>
				</div>
				<ul class = "submeniu">
					<li class = "element-submeniu"><a href="/index#Detalii">Salutări!</a></li>
					<li class = "element-submeniu"><a href="/index#anunturi">Anunțuri</a></li>
					<li class = "element-submeniu"><a href="/index#calendar">Program Observator</a></li>
					<li class = "element-submeniu"><a href="/index#date-site">Date site</a></li>
					<li class = "element-submeniu"><a href="/index#diverse">Diverse</a></li>
					<li class = "element-submeniu"><a href="/index#intrebari">Întrebări</a></li>
				</ul>

			</li>

			<li class = "elmen-mic"><a href = "/wallpapers" class = "element-meniu-singur">
				<span class="fas fa-bomb fa-spin" class = "bomba"></span> Wallpapers</a>
			</li>

			<li class = "elmen-mic">
				<a href = "/galerie_animata_pagina" class = "element-meniu-singur">Galerie animată</a>
			</li>

			<li class = "elmen-mic">
				<div class = "element-meniu">Poze de vânzare</div>
				<ul class = "submeniu">
					<li class = "element-submeniu"><a href = "/poze_vanzare">Toate pozele</a></li>
					<li class = "element-submeniu"><a href = "/poze_vanzare?tip=zi">Poze de zi</a></li>
					<li class = "element-submeniu"><a href = "/poze_vanzare?tip=apus">Poeze de la apus</a></li>
					<li class = "element-submeniu"><a href = "/poze_vanzare?tip=noapte">Poze de noapte</a></li>
				</ul>
			</li>

			<li class = "elmen-mic">
				<a href = "/inregistrare" class = "element-meniu-singur">Inregistrare</a>
			</li>

			<li class = "elmen-mic">
				<a href = "/reviste" class = "element-meniu-singur">Reviste - examen</a>
			</li>
		</ul>
	</nav>

		<main class="main">

			<br>
			<div>
				<input type="checkbox" class="checkbox" id="chk" />
				<label class="label" for="chk">
					<i class="fas fa-moon"></i>
					<i class="fas fa-sun"></i>
					<div class="ball"></div>
				</label>
			</div>


			<div id = "grid-pagina">
				<section id = "prezentare">
					<h2 id = "Detalii">Detalii</h2>

					<section id = "detalii">
						<!-- sectiunea 1 -->

						<p class = "descriere">

							Unul din cele mai importante lucruri pentru mine este <em>pasiunea pentru fotografie</em>. Unul dintre motivele pentru care nu consider că sunt un <i>fotograf</i> în adevăratul sens al cuvântului este faptul că niciodată nu m-am gândit la a mă mulțumi cu un singur tip de fotografie în care să excelez. Îmi place să descopăr și să experimentez perspective și metode de lucru noi chiar dacă nu întotdeauna rezultatele sunt remarcabile.
						</p>

						<div id = "div-prezentare">
		                    <picture>
		                        <source srcset = "Storage/Images/masina.jpg" media = "(max-width:700px)">
		                        <source srcset = "Storage/Images/albina.jpg" media = "(max-width:1200px)">
		                        <img src="Storage/Images/viespe.jpg" alt="text" id = "imagine-prezentare">
		                    </picture>
                		</div>

                		<p class = "uimit">
                			Pregătește-te să fii uimit!
                		</p>

						<p class = "vrajeli">
							Pot spune că <b>astrofotografia</b> e mișto frate pentru că procesul de realizare al fotografiilor este cel mai plăcut: implică un loc izolat de luminile poluante din oraș, liniște, mediu prielnic pentru meditație și, cel mai important, <b>bolta cerească</b>, pentru care port o simpatie de mic. Dintre celelalte tipuri de fotografie pentru care am investit timp se enumeră: fotografia <b>macro</b>, <b>wildlife</b>, <b>wallpapers</b>, <b>eveniment/ocazie</b>.
						</p>
					</section>
				</section>

				<!-- sectiunea 2 -->
				<section id = "tabel">
					<table id="tab-orar">
	                    <thead>

	                        <tr>
	                            <th>Perioadă</th>
	                            <th>Zi</th>
	                            <th>Programul expozitiei</th>
	                            <th>Observatii astronomice de zi</th>
	                        </tr>
	                    </thead>

	                    <tbody>
	                        <tr>
	                            <td rowspan="5">Zile<br>Lucrătoare</td>
	                            <td>Luni</td>
	                            <td>-</td>
	                            <td>-</td>
	                        </tr>
	                        <tr>
	                            <td>Marti</td>
	                            <td>-</td>
	                            <td>-</td>
	                        </tr>
	                        <tr>
	                            <td>Miercuri</td>
	                            <td>10-18</td>
	                            <td>10-17:30</td>
	                        </tr>
	                        <tr>
	                            <td>Joi</td>
	                            <td>10-18</td>
	                            <td>10-17:30</td>
	                        </tr>
	                        <tr>
	                            <td>Vineri</td>
	                            <td>10-18</td>
	                            <td>10-17:30</td>
	                        </tr>
	                        <tr>
	                            <td rowspan="2">Weekend</td>
	                            <td>Sambata</td>
	                            <td>10-18</td>
	                            <td>10-17:30</td>
	                        </tr>
	                    </tbody>

	                    <tfoot>
	                        <tr>
	                        	<td></td>
	                            <td>Duminica</td>
	                            <td>10-18</td>
	                            <td>10-17:30</td>
	                        </tr>
	                    </tfoot>
	                </table>
				</section>

				<!-- sectiunea 3 -->
				<section id = "calendar">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vehicula justo nisl, sed condimentum nulla suscipit at. Nunc pulvinar eget leo a vulputate. Nullam vestibulum enim sit amet viverra ullamcorper. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus at porta elit, sed ornare elit. Fusce vulputate sapien vitae massa rhoncus, et tempus est pharetra. Sed faucibus malesuada tellus, nec convallis felis cursus non. Nunc a ante a quam laoreet dictum et et sem. Duis ut mi ac tellus ullamcorper convallis a quis lacus. Nunc imperdiet, leo id tempor rhoncus, justo ligula rhoncus risus, at pharetra leo ipsum vitae mauris. Aenean pulvinar laoreet justo. Integer elementum est ullamcorper mauris condimentum scelerisque. Nulla facilisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis tincidunt nulla sit amet consectetur maximus.
				</section>

				<!-- sectiunea 4 -->
				<section id = "anunturi">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vehicula justo nisl, sed condimentum nulla suscipit at. Nunc pulvinar eget leo a vulputate. Nullam vestibulum enim sit amet viverra ullamcorper. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus at porta elit, sed ornare elit. Fusce vulputate sapien vitae massa rhoncus, et tempus est pharetra. Sed faucibus malesuada tellus, nec convallis felis cursus non. Nunc a ante a quam laoreet dictum et et sem. Duis ut mi ac tellus triunghiulet convallis a quis lacus. Nunc imperdiet, leo id tempor rhoncus, justo ligula rhoncus risus, at pharetra leo ipsum vitae mauris. Aenean pulvinar laoreet justo. Integer elementum est ullamcorper mauris condimentum scelerisque. Nulla facilisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis tincidunt nulla sit amet consectetur maximus.
				</section>

				<!-- sectiunea 5 -->
				<section id = "utilizatori-online">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vehicula justo nisl, sed condimentum nulla suscipit at. Nunc pulvinar eget leo a vulputate. Nullam vestibulum enim sit amet viverra ullamcorper. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus at porta elit, sed ornare elit. Fusce vulputate sapien vitae massa rhoncus, et tempus est pharetra. Sed faucibus malesuada tellus, nec convallis felis cursus non. Nunc a ante a quam laoreet dictum et et sem. Duis ut mi ac tellus ullamcorper convallis a quis lacus. Nunc imperdiet, leo id tempor rhoncus, justo ligula rhoncus risus, at pharetra leo ipsum vitae mauris. Aenean pulvinar laoreet justo. Integer elementum est ullamcorper mauris condimentum scelerisque. Nulla facilisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis tincidunt nulla sit amet consectetur maximus.
				</section>

				<!-- sectiunea 6 -->
				<section id = "date-utilizatori"> 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vehicula justo nisl, sed condimentum nulla suscipit at. Nunc pulvinar eget leo a vulputate. Nullam vestibulum enim sit amet viverra ullamcorper. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus at porta elit, sed ornare elit. Fusce vulputate sapien vitae massa rhoncus, et tempus est pharetra. Sed faucibus malesuada tellus, nec convallis felis cursus non. Nunc a ante a quam laoreet dictum et et sem. Duis ut mi ac tellus ullamcorper convallis a quis lacus. Nunc imperdiet, leo id tempor rhoncus, justo ligula rhoncus risus, at pharetra leo ipsum vitae mauris. Aenean pulvinar laoreet justo. Integer elementum est ullamcorper mauris condimentum scelerisque. Nulla facilisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis tincidunt nulla sit amet consectetur maximus.
				</section>

				<!-- sectiunea 7 -->
				<section id = "date-site">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vehicula justo nisl, sed condimentum nulla suscipit at. Nunc pulvinar eget leo a vulputate. Nullam vestibulum enim sit amet viverra ullamcorper. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus at porta elit, sed ornare elit. Fusce vulputate sapien vitae massa rhoncus, et tempus est pharetra. Sed faucibus malesuada tellus, nec convallis felis cursus non. Nunc a ante a quam laoreet dictum et et sem. Duis ut mi ac tellus ullamcorper convallis a quis lacus. Nunc imperdiet, leo id tempor rhoncus, justo ligula rhoncus risus, at pharetra leo ipsum vitae mauris. Aenean pulvinar laoreet justo. Integer elementum est ullamcorper mauris condimentum scelerisque. Nulla facilisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis tincidunt nulla sit amet consectetur maximus.
				</section>
				
				<!-- sectiunea 8 -->
				<section id = "diverse">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vehicula justo nisl, sed condimentum nulla suscipit at. Nunc pulvinar eget leo a vulputate. Nullam vestibulum enim sit amet viverra ullamcorper. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus at porta elit, sed ornare elit. Fusce vulputate sapien vitae massa rhoncus, et tempus est pharetra. Sed faucibus malesuada tellus, nec convallis felis cursus non. Nunc a ante a quam laoreet dictum et et sem. Duis ut mi ac tellus ullamcorper convallis a quis lacus. Nunc imperdiet, leo id tempor rhoncus, justo ligula rhoncus risus, at pharetra leo ipsum vitae mauris. Aenean pulvinar laoreet justo. Integer elementum est ullamcorper mauris condimentum scelerisque. Nulla facilisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis tincidunt nulla sit amet consectetur maximus.
				</section>

			</div>

			<br>
			<br>

			<br>
			<br>
			<section id = "linkuri">


				<div class = "container-iframe">
					<div class = "container-linkuri">
						<a class = taburi-iframe href = "https://www.youtube.com/embed/zRp3Qu_0K6o" target="videoclip"><div class = "text-iframe">video1</div></a>
						<a class = taburi-iframe href = "https://www.youtube.com/embed/ITe0VI02t-8" target="videoclip"><div class = "text-iframe">video2</div></a>
					</div>

					<iframe width="853" height="480" src="https://www.youtube.com/embed/zRp3Qu_0K6o" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" name = "videoclip"></iframe>
				</div>




			</section>

			<hr id = "hr-stilizat">
			<section id = "intrebari">
				<details>
				 	<summary>De cât timp?</summary>
				 	<p>
				 		Pasiunea pentru fotografie am descoperit-o în urmă cu aproape <b>3 ani</b>.
				 	</p>
				</details>

				<details>
				 	<summary>Cu ce?</summary>
				 		<ul>
	                   		<li>Nikon D7500</li>
	                   		<li>Nikorr 18 - 55</li>
	                   		<li>Nikorr 50 f/1.4G</li>
	                   		<li>Nikorr 70 - 300</li>
	                   		<li>Montură Omegon Minitrack LX2</li>
	                   		<li>Trepied Shoot XT-439</li>
	                   		<li>Blit Jupio PowerFlash 600</li>
	               		</ul>
				</details>
			</section>
			<hr id = "hr-stilizat">
			<br>


			<div class = "banner">Acesta este un proiect școlar!</div>

			
		</main>

		<footer id = "footer">

			<a href = "#" class = "buton-top">
				<div class = "parinte-triunghiulet">
					<div class="triunghiulet"><span class="text-jos"><br>Hai sus!</span></div>
					
				</div>
			</a>
		
			<address>
				Făcut de Tudor Cosmin Oanea<br>
				Număr de telefon: <span class="fas fa-phone-alt"></span> <a href = "tel:712345678">0712345678</a><br>
				Email: <a href = "mailto:cosminoanea01@gmail.com">cosminoanea01@gmail.com</a><br>
				Instagram: <a href = "https://www.instagram.com/omar_homar/" target="_blank">@omar_homar</a><br>
				Adresă: strada Splaiul Independenței, nr. 24<br>
			</address>
		
			<p class = "copyright">
				<small>
					Copyright &copy;2021 Tudor Cosmin Oanea
					<br>
					<time datetime = "2021-03-06">Data la care a fost facut site-ul: 2021-03-06</time>
				</small>
			</p>
			
		</footer>

	</body>
</html>